<%== usernav %>

<div class="pagewrap">

<div class="userworks">
<% @works.each do |work| %>
<div class="userworksimag">

  <%= link_to(image_tag(work.image_url(:thumb)),work) %>
  <br>
    <%= link_to 'delete', work, :method => :delete, :data => {:confirm => 'Are you sure?'} %>
</div><!--////////close worksimage //////-->

  <% end %>
</div><!--////////close works //////-->
<div class="userdata">
  <li><h3><%= @current_user.username %></h3></li>
  <li><%= image_tag(@current_user.avatar) %></li>
  <li><%= @current_user.location %></li>

  <li><%= link_to('FOLLOWERS') %></li>
  <li><%= link_to('FOLLOWING', '/following')  %></li>

</div><!--//////close userdata ////// -->

</div><!--//////close pagewrap ////// -->

