  <%== usernav %>
<div class="pagewrap">
hjghjgjg
  <div class="singlework">
  <ul>
    <% if @work.user %>
    <li><%= link_to((@work.user.username),user_path(@work.user.username)) %></li>
    <% end %>
    <li><p><%= image_tag(@work.image_url(:thumb)) %></p></li>
    <li><p><%= @work.title %></p></li>
    <li><p><%= @work.tags %></p></li>
    <li><p><%= @work.desription %></p></li>
  </ul>

</div><!--//////close singlework////// -->

</div><!--//////close pagewrap ////// -->