  <%== usernav %>
  <ul>
    <li><%= @work.title %></li>
    <li><%= image_tag(@work.image) %></li>
    <li><%= @work.title %></li>
    <li><%= @work.tags %></li>
    <li><%= @work.desription %></li>
  </ul>
