  <%== usernav %>
<div class="pagewrap">
hjghjgjg
  <div class="singlework">
  <ul>
    <% if @work.user %>
    <li><%= link_to((@work.user.username),user_path(@work.user.username)) %></li>
    <% end %>
    <li><p><%= image_tag(@work.image_url(:thumb)) %></p></li>
    <li><p><%= @work.title %></p></li>
    <li><p><%= @work.tags %></p></li>
    <li><p><%= @work.desription %></p></li>
  </ul>

</div><!--//////close singlework////// -->

<div class="bar">
</div><!--//////close bar /////-->

<div class="userdata">
  <ul>
  <li><h3><%= @user.username %></h3></li>
  <li><%= image_tag(@current_user.avatar) %></li>
  <li><%= @user.location %></li>
  <%= link_to('FOLLOW', "/follow/#{@user.username}", :method => :post)%></li>
  <%= link_to('UNFOLLOW', "/unfollow/#{@user.username}",:method => :delete) %></li>
</ul>

</div><!--//////close userdata ////// -->

</div><!--//////close pagewrap ////// -->