  <!-- this is the single users page which shows you all their images  -->

  <%== usernav %>

<div class="pagewrap">
<div class="userworks">
  <% @user.works.each do |work| %>
  <div class="userworksimag">
  <ul>
    <!-- this is how you link to a users page and see all their shit -->
    <li><%= image_tag(work.image_url(:thumb)) %></li>
    <li><%= link_to(image_tag(work.image_url(:thumb)),work_path(work)) %></li>
    <li><%= work.title %></li>
    <li><%= work.tags %></li>
    <li><%= work.desription %></li>
  </ul>
</div><!--////////close worksimage //////-->
<% end %>
</div><!--////////close works //////-->

<div class="bar">
</div><!--//////close bar /////-->

<div class="userdata">
  <ul>
  <li><h3><%= @user.username %></h3></li>
  <li><%= image_tag(@current_user.avatar) %></li>
  <li><%= @user.location %></li>
  <%= link_to('FOLLOW', "/follow/#{@user.username}", :method => :post)%></li>
  <%= link_to('UNFOLLOW', "/unfollow/#{@user.username}",:method => :delete) %></li>
</ul>

</div><!--//////close userdata ////// -->

</div><!--//////close pagewrap ////// -->