<%== usernav %>
<div class="pagewrap">

<%= render :partial => 'form' %>


  <% if @results == [] %>
    <p> none </p>
  <% end %>
  <% @results.each do |result| %>
    <div id="results">
    <%= link_to(image_tag(result.image_url(:thumb)),work_path(result)) %>
    <h4><%= link_to('like this',like_work_path(result.id), :method => :post) %>
    <%= result.likes.count %></h4>

    </div><!--////////close results /////-->
  <% end %>

  </div><!--//////close pagewrap ////// -->