<!DOCTYPE html>
<html>
<head>
  <title>PhotocrapperApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <header>
      <h1>PHOTOCRAPPER</h1>
      <nav>
        <ul>
            <%== smartnav %>
        </ul>
      </nav>
    </header>
    <div id="content">
    <%= yield %>
  </div><!--//////close content ////-->
  <footer>
    <div class="line"></div><!--///////////////////////////////////////////////close line//////////////-->
    <div class="social">
      <div class="circle-text"><a href="twitter.com"><div><img src="/assets/twitter-01.png"></div></a></div>
  </footer>
</div><!--//////// close contaier //////////-->
</body>
</html>
